<%+ extend('superadmin/app') %>
<%+ section('custom_css') %>
<link href="/assets/superadmin/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
<link href="/assets/superadmin/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
<style>
.bootstrap-tagsinput{
    width: 100%;
}
</style>
<%+ endSection %>
<%+ section('content') %>
<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Blogs</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/superadmin">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Blogs</strong>
                </li>
            </ol>
        </div>
    </div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <!-- <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div> -->
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-5 m-b-xs"><select class="form-control-sm form-control input-s-sm inline">
                            <option value="0">Option 1</option>
                            <option value="1">Option 2</option>
                            <option value="2">Option 3</option>
                            <option value="3">Option 4</option>
                        </select>
                        </div>
                        <div class="col-sm-4 m-b-xs">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-sm btn-white ">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Day
                                </label>
                                <label class="btn btn-sm btn-white active">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Week
                                </label>
                                <label class="btn btn-sm btn-white">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> Month
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input placeholder="Search" type="text" class="form-control form-control-sm"> <span class="input-group-append"> <button type="button" class="btn btn-sm btn-primary">Go!
                            </button> </span></div>

                        </div>
                    </div> -->
                    <div class="table-responsive">
                        <table class="table table-striped" id="blog_table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% blogs.forEach(function(blog) { %>
                                <tr id="<%= blog.id %>">
                                    <td><input type="checkbox"  class="i-checks" name="input[]"></td>
                                    <td><a href="/admin/detail?model_id=<%= blog._id %>" target="_blank"><img src="/files/blogs/<%= blog.image %>_thumb" class="img-rounded" style="width: 40%;" alt=""></a></td>
                                    <td><span><%= blog.title %></span></td>
                                    <td><%= blog.created_at %></td>
                                    <td><a href="javascript:void(0)" class="edit_blog" data-id="<%= blog.id %>"><i style="font-size: 24px;" class="fa fa-edit"></i> <span class="text-muted"></span></a><a href="javascript:void(0)" class="delete_blog" data-id="<%= blog.id %>"><i style="font-size: 24px;" class="fa fa-cut"></i> <span class="text-muted"></span></a></td>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<%+ endSection %>
<%+ section('javascript') %>
<script src="/assets/superadmin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/assets/superadmin/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="/assets/superadmin/js/plugins/summernote/summernote-bs4.js"></script>
<script type="text/javascript">
let baseurl = $('meta[name=baseurl]').attr("content");
let fields = ['title','description','tags','category','meta_desc','id'];
$('.summernote').summernote({
  dialogsInBody: true
});
$('#blog_table').on('click','.edit_blog',function(e){
    e.preventDefault();
    $('.ibox-content').toggleClass('sk-loading');
    axios.get(baseurl+'/superadmin/blog/'+$(this).data('id')).then((response) => {	
        $.each(response.data.msg, function( index, value ) {
            let field = 'input';
            if($.trim(index) == 'description' || $.trim(index) == 'meta_desc'){ 
                field = 'textarea';
                $('#edit_blog_modal '+field+'[name="'+index+'"]').summernote('code', value);
            }else if(index =='tags' || index =='category'){
                $('#edit_blog_modal '+field+'[name="'+index+'"]').tagsinput('add', value);
            }else{
                $('#edit_blog_modal '+field+'[name="'+index+'"]').val(value);
            }
        });
        $('#edit_blog_modal input[name="old_image"]').val(response.data.msg.image);
        $('#edit_blog_modal').modal('show');
        $('.ibox-content').toggleClass('sk-loading');
    })
    .catch((error) => {
        $('#msg_block').text(error.response.data.msg);
        $('#msg_block').css('color','red');		
        $('.ibox-content').toggleClass('sk-loading');					
    });
    return false;
});

$('#blog_table').on('click','.delete_blog',function(e){
    e.preventDefault();
    let id = $(this).data('id');
    $('.ibox-content').toggleClass('sk-loading');
    axios.delete(baseurl+'/superadmin/blog/'+id).then((response) => {
        $('#blog_table tr#'+id).remove();
        $('.ibox-content').toggleClass('sk-loading');
    })
    .catch((error) => {
        $('.ibox-content').toggleClass('sk-loading');
        $('#msg_block').text(error.response.data.msg);
        $('#msg_block').css('color','red');							
    });
});

$('form#edit-blog-form').on('submit', function(e){
        e.preventDefault();
        let data = new FormData(this);
        axios.post(baseurl+'/superadmin/update_blog', data).then((response) => {
            $('#msg_block').text(response.data.msg);
            $('#msg_block').css('color','green');
            setTimeout(function(){ window.location.href = baseurl+'/superadmin/blogs'; }, 1000);	
        })
        .catch((error) => {
            $('#msg_block').text(error.response.data.msg);
            $('#msg_block').css('color','red');							
        });
        return false;	
});
$('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').addClass("selected").html(fileName);
 });
</script>
<%+ endSection %>